/* CSSのリセット */
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
html {
  /* ルートのフォントサイズを10pxに設定しておく */
	font-size: 62.5%;
}
body {
  font-family:游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
	font-size: 1.6em;
}
//ーーーーーここからCSSを記載ーーーーーー
// li {
//   list-style: none;
// }
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
// カラー用の変数を定義
$color-orange: #F39800;
$color-white: #fff;
$color-blue: #29A6DC;
$color-black: #444444;
$color-line-black: #A9A9A9;
$color-gray: #E6E6E6;
$color-koi-gray:#727171;
$color-rpa-blue: #C9E8F5;
$color-green: #75A84B;
$color-red: #E6290E;
$color-pink: #FDEDEB;
$color-usui-green: #DCEDC5;

//ーーーーーーここからタイトル用の設定（タイトルの下に青い線ーーーーーーーー
.common-title {
  position: relative;
  display: inline-block;
  margin: 120px 0px;
}
.common-title:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -40px;/*線の上下位置*/
  display: inline-block;
  width: 55px;/*線の長さ*/
  height: 5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: $color-blue;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

//ーーーーーー「く」を表示するための設定ーーーーーーーー
.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.yajirusi::after{
    left: 270px;
    width: 4px;
    height: 4px;
    border-top: 2px solid $color-white;
    border-right: 2px solid $color-white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.yajirusi2::before{
    left: 0px;
    width: 4px;
    height: 4px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
//ーーーーーーーー ◯と画像の設定ーーーーーーーーーー
.img-round, .img-title{
  display: block;
  position: absolute;
  top: -90px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img-round {
  width: 127px;
  height: 127px;
  background-color: #ededed;
  border-radius: 50%;
}
.img-title {
  width: 62px;
  height: 62px;
}
