@charset "UTF-8";
/* CSSのリセット */
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

body {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
  font-size: 1.6em;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.common-title {
  position: relative;
  display: inline-block;
  margin: 120px 0px;
}

.common-title:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -40px;
  /*線の上下位置*/
  display: inline-block;
  width: 55px;
  /*線の長さ*/
  height: 5px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #29A6DC;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}

.arrow::before,
.arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.yajirusi::after {
  left: 270px;
  width: 4px;
  height: 4px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.yajirusi2::before {
  left: 0px;
  width: 4px;
  height: 4px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.img-round, .img-title {
  display: block;
  position: absolute;
  top: -90px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-round {
  width: 127px;
  height: 127px;
  background-color: #ededed;
  border-radius: 50%;
}

.img-title {
  width: 62px;
  height: 62px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.header-contents {
  width: 1024px;
  font-size: 1.5rem;
  margin: 0 auto;
}

.header-contents ul {
  display: flex;
}

.header-contents img {
  padding: 21px 28px;
  padding-left: 30px;
}

.header-contents li {
  font-weight: bold;
  padding: 0px 20px;
  line-height: 80px;
  list-style: none;
}

.header-contents span {
  font-size: 1rem;
  padding-left: 5px;
  line-height: 75px;
}

.free-consul {
  font-weight: bold;
  padding: 0px 23px;
  line-height: 80px;
  list-style: none;
  background-color: #F39800;
  height: 80px;
  color: #fff;
  display: inline-block;
}

.main-wrapper {
  margin-top: 80px;
  width: 100%;
  text-align: center;
  position: relative;
}

.main-wrapper img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.main-wrapper h1, .main-wrapper h2 {
  position: absolute;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.main-wrapper h1 {
  font-size: 4.5rem;
  top: 40%;
}

.main-wrapper h2 {
  font-size: 2.4rem;
  top: 55%;
}

.service-wrapper {
  width: 100%;
  text-align: center;
  color: #444444;
}

.service-containers {
  margin: 0 auto;
  width: 1045px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.service-container {
  margin: 50px 15px 50px 15px;
  color: #444444;
  height: auto;
  border: solid 1px #A9A9A9;
  position: relative;
  padding: 92px 66px 43px;
  width: 47%;
}

.service-container p {
  font-size: 1.48rem;
  text-align: left;
  line-height: 25px;
  margin-bottom: 40px;
}

.service-container h3 {
  padding-bottom: 22px;
}

.service-container a {
  width: 300px;
  height: 63px;
  display: block;
  line-height: 63px;
  background-color: #29A6DC;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
}

.service-container-inner {
  width: 358px;
  height: 281px;
  position: relative;
}

.news-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #444444;
}

.news-contents {
  margin: 0 auto;
  width: 1045px;
}

.news-content {
  width: 1025px;
  margin: 0 auto;
  text-align: center;
  float: left;
  border-bottom: 1px solid;
}

.news-content h5, .news-content a {
  float: left;
  padding: 20px 40px 20px 20px;
  font-size: 1.4rem;
  font-weight: normal;
  text-decoration: underline;
}

.news-content h5 {
  font-size: 1.4rem;
}

.news-content a {
  color: black;
}

.bluebtn {
  clear: left;
  width: 300px;
  height: 63px;
  display: block;
  line-height: 63px;
  background-color: #29A6DC;
  color: #fff;
  font-weight: bold;
  margin: 20px auto;
}

.dell {
  border-bottom: none;
}

.access-wrapper {
  margin: 0 auto;
  text-align: center;
  color: #444444;
}

.access-contents {
  padding-top: 60px;
  width: 1025px;
  display: flex;
  margin: 0 auto;
  height: auto;
}

.access-contents h4, .access-contents h5 {
  text-align: left;
}

.access-contents h4 {
  margin-bottom: 20px;
}

.access-contents h5 {
  font-weight: normal;
}

.access-content {
  width: 50%;
}

.access-content iframe {
  margin-top: 20px;
  margin-bottom: 100px;
}

.top-btn {
  height: 60px;
  width: 100%;
  background-color: #E6E6E6;
  text-align: center;
  line-height: 60px;
}

.footer-wrapper {
  width: 1025px;
  margin: 0 auto;
  height: auto;
}

.footer-rootmap {
  margin-top: 130px;
  float: left;
  width: 250px;
}

.footer-rootmap li {
  margin: 10px 0px;
}

.footer-adresses {
  width: 443px;
  float: left;
  color: #444444;
  margin-bottom: 64px;
}

.footer-adresses img {
  margin-top: 30px;
  margin-bottom: 15px;
}

.footer-adresses h4 {
  margin: 15px 0;
}

.footer-adresses h5 {
  font-weight: normal;
  color: black;
}

.footer-adresses h5 span {
  text-decoration: underline;
}

.footer-rootmaps {
  width: 500px;
  height: 208px;
  float: left;
  font-weight: bold;
}

footer {
  clear: left;
  background-color: #727171;
  width: 100%;
  height: 68px;
  line-height: 68px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.rpa-osusume-wrapper, .subsidy-title {
  margin-top: 55px;
  text-align: center;
  width: 100%;
  background-color: #EDEDED;
  font-size: 1.9rem;
  font-weight: bold;
  color: #444444;
}

.rpa-title-kobetu {
  line-height: 200px;
  height: 180px;
}

.bdTtl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bdTtl:before,
.bdTtl:after {
  border-top: 2px solid;
  content: "";
  width: 6rem;
}

.rpa-osusume-target, .subsidy-difference {
  width: 100%;
  height: 630px;
  text-align: center;
}

.rpa-osusume-target p, .subsidy-difference p {
  color: #29A6DC;
  font-size: 2.3rem;
  font-weight: bold;
  padding-bottom: 60px;
}

.rpa-imgs, .subsidy-imgs {
  width: 125px;
  height: 270px;
  margin: 0 auto;
  padding-top: 70px;
}

.rpa-imgs img, .subsidy-imgs img {
  width: 125px;
  height: 127px;
}

.rpa-osusume-target-contents, .subsidy-difference-contents, .subsidy-support {
  width: 495px;
  margin: 0 auto;
  padding-bottom: 85px;
  text-align: left;
  font-size: 1.5rem;
}

.rpa-main-wrapper {
  width: 1025px;
  height: 5786px;
  margin: 0 auto;
}

.rpa-main-title {
  width: 1025px;
  height: 66px;
  line-height: 50px;
  background-color: #C9E8F5;
  padding: 10px 16px 10px;
  color: #444444;
  font-size: 1.4rem;
}

.rpa-main-contents {
  padding-top: 50px;
}

.rpa-main-contents-bottom {
  padding-bottom: 50px;
}

.rpa-main-contents-imgs-text {
  width: 1025px;
  display: flex;
  flex-wrap: wrap;
}

.rpa-main-contents-imgs {
  width: 33.3%;
  height: 318px;
  position: relative;
  flex: auto;
}

.rpa-main-contents-imgs-square {
  display: block;
  width: 158px;
  height: 151px;
  background-color: #DCEDC5;
  border-radius: 10%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.rpa-main-contents-imgs-img {
  display: block;
  width: 92px;
  height: 97px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.rpa-main-contents-text {
  display: block;
  position: absolute;
  font-weight: bold;
  color: #444444;
  text-align: center;
  width: 192px;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.rpa-title {
  width: 1025px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  color: #fff;
}

.title-before {
  background-color: #F39800;
  border-radius: 20px 20px 0px 0px;
}

.rpa {
  width: 1025px;
  height: 330px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
}

.border-before {
  border-bottom: dashed 5px #F39800;
  border-left: dashed 5px #F39800;
  border-right: dashed 5px #F39800;
  padding: 0 80px;
}

.rpa-main-contents-effect {
  width: 495px;
  margin: 32px auto;
  text-align: left;
  font-size: 1.5rem;
  color: #444444;
}

.rpa-main-contents-effect-text {
  height: 83px;
  line-height: 83px;
  text-align: center;
  color: #444444;
  font-size: 2rem;
  font-weight: bold;
}

.ul-class {
  width: 160px;
  height: 325px;
  padding: 60px 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  list-style: none;
  line-height: 40px;
  color: #444444;
}

.rpa-before-img-tantousya {
  width: 367px;
  height: 325px;
  padding-top: 20px;
}

.rpa-before-img-tantousya img {
  width: 362px;
  height: 238px;
}

.rpa-before-img-tantousya p {
  padding-top: 10px;
  text-align: center;
  font-size: 1.8rem;
  color: #444444;
}

.rpa-before-img-reportePC {
  width: 131px;
  height: 325px;
  padding-top: 20px;
  display: block;
}

.rpa-before-img-report {
  width: 124px;
  height: 138px;
}

.rpa-before-img-PC {
  width: 120px;
  height: 113px;
}

.rpa-before-img-ku {
  width: 95px;
  height: 325px;
}

.green-arrow-right {
  margin: 140px auto;
  line-height: 325px;
  width: 25px;
  height: 25px;
  border-top: solid 10px #75A84B;
  border-right: solid 10px #75A84B;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rpa-arrow {
  height: 130px;
  width: 100%;
}

.pad-30 {
  padding: 30px 0;
}

.green-arrow-down {
  margin: 0px auto;
  width: 25px;
  height: 25px;
  border-top: solid 10px #75A84B;
  border-right: solid 10px #75A84B;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.title-after {
  background-color: #E6290E;
  border-radius: 20px 20px 0px 0px;
}

.border-after {
  border-bottom: solid 5px #E6290E;
  border-left: solid 5px #E6290E;
  border-right: solid 5px #E6290E;
  padding: 0 60px;
  margin-bottom: 100px;
}

.rpa-after-img-ku {
  width: 60px;
  height: 325px;
}

.rpa-after-img-tantousyaRPA {
  width: 227px;
  height: 325px;
  padding-top: 20px;
}

.rpa-after-img-tantousyaRPA img {
  width: 227px;
  height: 207px;
}

.rpa-after-img-tantousyaRPA p {
  padding-top: 10px;
  text-align: center;
  font-size: 1.8rem;
  color: #444444;
}

.rpa-after-img-reportePC {
  width: 96px;
  height: 325px;
  padding-top: 50px;
  display: block;
}

.rpa-after-img-report {
  width: 94px;
  height: 108px;
}

.rpa-after-img-PC {
  padding-top: 10px;
  width: 95px;
  height: 88px;
}

.title-effect-ue {
  color: #E6290E;
  text-align: center;
  margin-bottom: 5px;
}

.title-effect {
  background-color: #E6290E;
  font-size: 2.2rem;
}

.rpa-effect {
  width: 1025px;
  height: 610px;
  background-color: #FDEDEB;
  margin-bottom: 50px;
}

.rpa-effect h1 {
  font-size: 2.4rem;
  text-align: center;
  color: #444444;
  margin-top: 40px;
}

.rpa-effect h2 {
  font-size: 2.1rem;
  text-align: center;
  color: #444444;
}

.rpa-effect h2 span {
  font-weight: normal;
}

.rpa-effect-ichi {
  padding-top: 45px;
}

.rpa-effect-imgs {
  width: 921px;
  height: 184px;
  margin: 40px 51px;
  display: flex;
}

.rpa-effect-imgs-robot img {
  width: 137.5px;
  height: 110px;
  margin: 0 32px;
}

.rpa-effect-imgs-robot p {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #444444;
}

.rpa-effect-imgs-plus img {
  width: 36px;
  height: 36px;
  margin: 100px 36.5px 0px 36px;
}

.rpa-effect-imgs-brain img {
  width: 82px;
  height: 103px;
  margin: 0px 60px;
}

.rpa-effect-imgs-brain p {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #444444;
}

.rpa-effect-imgs-product img {
  width: 109px;
  height: 98px;
  margin: 0px 46px;
}

.rpa-effect-imgs-product p {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #444444;
}

.rpa-effect-imgs-sales img {
  width: 109px;
  height: 98px;
  margin: 0px 46px;
}

.rpa-effect-imgs-sales p {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #444444;
}

.rpa-analog-digital {
  display: flex;
  margin: 0 auto;
}

.rpa-analog {
  width: 457px;
  height: 697px;
  text-align: center;
  margin-left: -55px;
}

.rpa-analog p {
  margin-bottom: 30px;
  color: #444444;
  text-align: center;
  font-weight: bold;
}

.rpa-analog h2 {
  font-size: 2.1rem;
  text-align: center;
  color: #444444;
}

.img-top {
  width: 173px;
  height: auto;
  padding-bottom: 10px;
}

.rpa-analog-contents {
  width: 297px;
  height: 445px;
  padding: 30px 0;
  margin: 0 80px;
  border-radius: 10px;
  border: dashed 5px #F39800;
}

.pad-40 {
  padding: 40px 0;
}

.pad-20 {
  padding: 20px 0;
}

.img-analog {
  width: 210px;
  height: auto;
}

.img-digital {
  width: 121px;
  height: auto;
}

.rpa-digital {
  width: 686px;
  height: 697px;
  text-align: center;
}

.rpa-digital p {
  margin-bottom: 30px;
  color: #444444;
  text-align: center;
  font-weight: bold;
}

.rpa-digital h2 {
  font-size: 2.1rem;
  text-align: center;
  color: #444444;
}

.rpa-digital-contents {
  width: 583px;
  height: 445px;
  padding: 30px 0;
  margin: 0 51px;
  border-radius: 10px;
  border: solid 5px #E6290E;
}

.img-csv {
  width: 86px;
  height: auto;
}

.img-system {
  width: 158px;
}

.img-systems {
  display: flex;
  clear: left;
}

.img-text {
  padding-top: 40px;
  width: 50%;
}

.green-arrow-down1 {
  margin-left: 150px;
  width: 25px;
  height: 25px;
  border-top: solid 10px #75A84B;
  border-right: solid 10px #75A84B;
  -webkit-transform: rotate(160deg);
  transform: rotate(160deg);
  float: left;
}

.green-arrow-down2 {
  margin-left: 200px;
  width: 25px;
  height: 25px;
  float: left;
  border-top: solid 10px #75A84B;
  border-right: solid 10px #75A84B;
  -webkit-transform: rotate(115deg);
  transform: rotate(115deg);
}

.green-arrow-down3 {
  margin: 0px auto;
  width: 35px;
  height: 35px;
  border-top: solid 15px #75A84B;
  border-right: solid 15px #75A84B;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.OCR {
  width: 330px;
  text-align: left;
  font-size: 1.2rem;
  color: #444444;
}

.green-arrow-right1 {
  width: 25px;
  height: 25px;
  border-top: solid 10px #75A84B;
  border-right: solid 10px #75A84B;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rpa-result {
  width: 1025px;
  height: 243px;
  background-color: #DCEDC5;
  border-radius: 8px;
  color: #444444;
  font-weight: bold;
  display: flex;
  padding: 10px 0;
}

.rpa-result-imgs-document {
  width: 151px;
  height: auto;
  text-align: center;
  padding-top: 50px;
}

.rpa-result-imgs-document img {
  height: 85px;
  width: auto;
}

.rpa-result-imgs-arrow {
  width: 65px;
  height: auto;
  text-align: center;
  padding-top: 80px;
}

.rpa-result-imgs-arrow img {
  width: 56px;
  height: auto;
}

.orangebtn {
  clear: left;
  width: 378px;
  height: 71px;
  display: block;
  line-height: 71px;
  background-color: #F39800;
  color: #fff;
  font-weight: bold;
  margin: 20px auto;
}

.action h1 {
  margin: 60px 0;
  color: #E6290E;
  text-align: center;
}

.subsidy-title {
  height: 240px;
  padding-top: 80px;
}

.subsidy-title h4 {
  padding-top: 30px;
}

.subsidy {
  height: 2610px;
}

.subsidy h4 {
  color: #444444;
  padding: 20px;
}

.subsidy-difference-contents, .subsidy-support {
  width: 1024px;
  font-weight: normal;
  list-style: none;
  font-size: 1.6rem;
  padding-bottom: 55px;
}

table {
  height: 413px;
  width: 512px;
  margin: 0 auto;
  text-align: center;
  color: #444444;
  font-weight: bold;
  border-collapse: collapse;
  /* セルの線を重ねる */
  border-color: black;
  margin-bottom: 50px;
}

table th, table td {
  border: solid 1px;
  /* 枠線指定 */
}

table th {
  width: 114px;
}

.table-bk-gray {
  background-color: #E6E6E6;
}

.table-bk-blue {
  color: #29A6DC;
}

.subsidy-support {
  width: 1025px;
  height: 170px;
  padding: 43px;
  font-weight: bold;
  margin: 45px auto;
  background-color: #FBF6ED;
}

.subsidy-flow {
  width: 1025px;
  height: 423px;
  display: flex;
  margin: 0 auto;
}

.subsidy-flow-contents {
  margin: 0 22px;
  width: 169px;
  text-align: center;
  color: #444444;
}

.subsidy-flow-contents h6 {
  font-weight: normal;
  font-size: 1.4rem;
  text-align: left;
}

.subsidy-flow-contents h4 {
  padding: 20px 0;
}

.subsidy-flow-contents img {
  margin: 20px 0;
}

.mg-left20 {
  margin-left: 0px;
}
