/* CSSのリセット */
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
html {
  /* ルートのフォントサイズを10pxに設定しておく */
	font-size: 62.5%;
}
body {
  font-family:游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
	font-size: 1.6em;
}
//ーーーーーここからCSSを記載ーーーーーー
// li {
//   list-style: none;
// }
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
// カラー用の変数を定義
$color-orange: #F39800;
$color-white: #fff;
$color-blue: #29A6DC;
$color-black: #444444;
$color-line-black: #A9A9A9;
$color-gray: #E6E6E6;
$color-koi-gray:#727171;
$color-rpa-blue: #C9E8F5;
$color-green: #75A84B;
$color-red: #E6290E;
$color-pink: #FDEDEB;
$color-usui-green: #DCEDC5;
//ーーーーーーここからタイトル用の設定（タイトルの下に青い線ーーーーーーーー
.common-title {
  position: relative;
  display: inline-block;
  margin: 120px 0px;
}
.common-title:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -40px;/*線の上下位置*/
  display: inline-block;
  width: 55px;/*線の長さ*/
  height: 5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: $color-blue;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

//ーーーーーー「く」を表示するための設定ーーーーーーーー
.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.yajirusi::after{
    left: 270px;
    width: 4px;
    height: 4px;
    border-top: 2px solid $color-white;
    border-right: 2px solid $color-white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.yajirusi2::before{
    left: 0px;
    width: 4px;
    height: 4px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
//ーーーーーーーー ◯と画像の設定ーーーーーーーーーー
.img-round, .img-title{
  display: block;
  position: absolute;
  top: -90px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img-round {
  width: 127px;
  height: 127px;
  background-color: #ededed;
  border-radius: 50%;
}
.img-title {
  width: 62px;
  height: 62px;
}
//ーーーーーーここからヘッダーーーーーーーー
.clearfix::after {
   content: "";
   display: block;
   clear: both;
}
header {
  position:fixed;
  top:0px;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  height: 80px;
}
.header-wrapper {
  width: 100%;
  display: flex;
  position:fixed;
}
.header-contents {
  width: 65%;
  font-size: 1.6rem;
  margin: 0 auto;
  img {
    float: left;
    padding: 21px 28px;
  }
  li {
    float: left;
    font-weight: bold;
    padding: 0px 23px;
    line-height: 80px;
    list-style: none;
  }
  span {
    font-size: 1rem;
    padding-left: 5px;
    line-height: 75px;
  }
}
.free-consul {
  background-color: $color-orange;
  line-height: 80px;
  color: $color-white;
}
//ーーーーーーここまでヘッダーーーーーーーー
//ーーーーーーここからメインーーーーーーーー
.main-wrapper {
  margin-top: 80px;
  width: 100%;
  text-align: center;
  position: relative;
 img {
	width: 100%;
	height: 450px;
	object-fit: cover;
  }
  h1,h2 {
  position: absolute;
  color: $color-white;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  }
  h1 {
  font-size: 4.5rem;
  top: 40%;
  }
  h2 {
  font-size: 2.4rem;
  top: 55%;
  }
}
//ーーーーーーここまでメインーーーーーーーー
//ーーーーーーここからサービスーーーーーーーー
.service-wrapper {
  width: 100%;
  text-align: center;
  color: $color-black;
}
.service-containers {
  margin: 0 auto;
  width: 1045px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.service-container {
  margin: 50px 15px 50px 15px;
  color: $color-black;
  height: auto;
  border: solid 1px $color-line-black;
  position: relative;
  padding: 92px 66px 43px;
  width: 47%;
  p {
    font-size: 1.48rem;
    text-align: left;
    line-height: 25px;
    margin-bottom: 40px;
  }
  h3 {
    padding-bottom: 22px;
  }
  a {
      width: 300px;
      height: 63px;
      display: block;
      line-height: 63px;
      background-color: $color-blue;
      color: $color-white;
      font-weight: bold;
      margin: 0 auto;
  }
}
.service-container-inner{
  width: 358px;
  height: 281px;
  position: relative;
}
//ーーーーーーここまでサービスーーーーーーーー
//ーーーーーーここからお知らせーーーーーーーー
.news-wrapper {
  margin: 0 auto;
  text-align: center;
  color: $color-black;
}
.news-contents {
  margin: 0 auto;
  width: 1045px;
}
.news-content {
  width: 1025px;
  margin: 0 auto;
  text-align: center;
  float: left;
  border-bottom: 1px solid;
  h5,a {
    float: left;
    padding:20px 40px 20px 20px;
    font-size: 1.4rem;
    font-weight: normal;
    text-decoration: underline;
  }
  h5 {
    font-size: 1.4rem;
  }
  a {
    color: black;
  }
}
//ーーーーーー青色のボタンを表示するための設定ーーーーーーーー
.bluebtn {
    clear: left;
    width: 300px;
    height: 63px;
    display: block;
    line-height: 63px;
    background-color: $color-blue;
    color: $color-white;
    font-weight: bold;
    margin: 20px auto;
}
//ーーーーーーニュースの一番下の青線を解除ーーーーーーーー
.dell {
  border-bottom: none;
}
//ーーーーーーここまでお知らせーーーーーーーー
//ーーーーーーここからアクセスーーーーーーーー
.access-wrapper {
  margin: 0 auto;
  text-align: center;
  color: $color-black;
}
.access-contents {
  padding-top: 60px;
  width: 1025px;
  display: flex;
  margin: 0 auto;
  height: auto;
  h4,h5 {
    text-align: left;
  }
  h4 {
    margin-bottom: 20px;
  }
  h5 {
    font-weight: normal;
  }
}
.access-content {
  width: 50%;
  iframe {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

//ーーーーーーここまでアクセスーーーーーーー
//ーーーーーーここからトップへ戻るボタンーーーーーーーー
.top-btn {
  height: 60px;
  width: 100%;
  background-color: $color-gray;
  text-align: center;
  line-height: 60px;
}
//ーーーーーーここまでトップへ戻るボタンーーーーーーーー
//ーーーーーーここからフッターーーーーーーーー
.footer-wrapper {
  width: 1025px;
  margin: 0 auto;
  height: auto;

}
.footer-rootmap {
  margin-top: 130px;
  float: left;
  width: 250px;
  li {
    margin: 10px 0px;
  }
}
.footer-adresses {
  width: 443px;
  float: left;
  color: $color-black;
  margin-bottom: 64px;
  img {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  h4 {
    margin: 15px 0;
  }
  h5 {
    font-weight: normal;
    color: black;
    span {
          text-decoration: underline;
    }
  }
}
.footer-rootmaps {
  width: 500px;
  height: 208px;
  float: left;
  font-weight: bold;
}

footer {
  clear: left;
  background-color: $color-koi-gray;
  width: 100%;
  height: 68px;
  line-height: 68px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
// ーーーーーーーー●●ここからRAPのページ●●ーーーーーーーーー
// ーーーーーーーーここからRPAヘッダーーーーーーーーー
.rpa-osusume-wrapper {
  margin-top: 55px;
  text-align: center;
  line-height: 180px;
  width: 100%;
  height: 160px;
  background-color: #EDEDED;
  font-size: 2rem;
  font-weight: bold;
  color: #444444;
}
// ーーーーーーーーここまでRAAヘッダーーーーーーーーーー
// ーーーーーーーーここからRPAおすすめーーーーーーーー
.rpa-osusume-target{
  width: 100%;
  height: 630px;
  text-align: center;
  // background-color: pink;
  p {
    color: $color-blue;
    font-size: 2.3rem;
    font-weight: bold;
    padding-bottom: 60px;
  }
}

.rpa-imgs {
  width: 100%;
  height: 270px;
  // background-color: red;
}
.img-round2 {
  top: 60px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 127px;
  height: 127px;
  background-color: #ededed;
  border-radius: 50%;
}
.img-title2 {
  display: block;
  width: 62px;
  height: 62px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.rpa-osusume-target-contents {
  width: 495px;
  margin: 0 auto;
  padding-bottom: 85px;
  text-align: left;
  font-size: 1.5rem;
}
// ーーーーーーーーここまでRPAおすすめーーーーーーーーー
// ーーーーーーーーここからRPAのwhyーーーーーーーー
.rpa-main-wrapper {
  width: 1025px;
  height: 5786px; //^の上まで
  // background-color: pink; //★
  margin: 0 auto;
}

.rpa-main-title {
  width: 1025px;
  height: 66px;
  line-height: 50px;
  background-color: $color-rpa-blue;
  padding:10px 16px 10px;
  color: $color-black;
  font-size: 1.4rem;
}

.rpa-main-contents {
  padding-top: 50px;
}
.rpa-main-contents-bottom {
  padding-bottom: 50px;
}

// ーーーーーーーーここまでRPAのwhyーーーーーーーーー
// ーーーーーーーーここから 3.業務の自動化(RPA)でできることーーーーーーーー
.rpa-main-contents-imgs-text {
  width: 1025px;
  display: flex;
  flex-wrap: wrap;
}
.rpa-main-contents-imgs {
  width: 33.3%;
  height: 318px;
  // background-color: red;//★
  position: relative;
  flex: auto;
}
.rpa-main-contents-imgs-square {
  display: block;
  width: 158px;
  height: 151px;
  background-color: #DCEDC5;
  border-radius: 10%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.rpa-main-contents-imgs-img{
  display: block;
  width: 92px;
  height: 97px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.rpa-main-contents-text {
  display: block;
  position: absolute;
  font-weight: bold;
  color: $color-black;
  text-align: center;
  width: 192px;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
// ーーーーーーーーここまで 3.業務の自動化(RPA)でできることーーーーーーーーー
// ーーーーーーーーここから 4.業務の自動化(RPA)したときの効果(before)ーーーーーーーー
.rpa-title {
  width: 1025px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  color: $color-white;

}
.title-before {
  background-color: $color-orange;
  border-radius: 20px 20px 0px 0px;
}
.rpa {
  width: 1025px;
  height: 330px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
}
.border-before {
  border-bottom: dashed 5px $color-orange;
  border-left: dashed 5px $color-orange;
  border-right: dashed 5px $color-orange;
  padding: 0 80px;
}
.rpa-main-contents-effect {
  width: 495px;
  margin: 32px auto;
  text-align: left;
  font-size: 1.5rem;
  color: $color-black;
}
.rpa-main-contents-effect-text {
    // background-color: blue;//★
  height: 83px;
  line-height: 83px;
  text-align: center;
  color: $color-black;
  font-size: 2rem;
  font-weight: bold;
}
.ul-class {
  width: 160px;
  height: 325px;
  padding: 60px 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  list-style: none;
  line-height: 40px;
  color: $color-black;
  // background-color: yellow;　//★
}

.rpa-before-img-tantousya {
  width: 367px;
  height: 325px;
  padding-top: 20px;
  // background-color: red;　//★
  img {
    width: 362px;
    height: 238px;
  }
  p {
    padding-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    color: $color-black;
  }
}
.rpa-before-img-reportePC {
  width: 131px;
  height: 325px;
  padding-top: 20px;
  display: block;
  // background-color: orange;　//★
}

.rpa-before-img-report {
  width: 124px;
  height: 138px;
}
.rpa-before-img-PC {
  width: 120px;
  height: 113px;
}
.rpa-before-img-ku {
  width: 95px;
  height: 325px;
}
.green-arrow-right{
  margin: 140px auto;
  line-height: 325px;
  width: 25px;
  height: 25px;
  border-top: solid 10px $color-green;
  border-right: solid 10px $color-green;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
// ーーーーーーーーここまで 4.業務の自動化(RPA)したときの効果(before)ーーーーーーーーー

.rpa-arrow {
  height: 130px;
  width: 100%;
  // background-color: red;
}
.pad-30 {
  padding: 30px 0;
}
.green-arrow-down {
  margin: 0px auto;
  width: 25px;
  height: 25px;
  border-top: solid 10px $color-green;
  border-right: solid 10px $color-green;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
// ーーーーーーーーここから 4.業務の自動化(RPA)したときの効果(after)ーーーーーーーー
.title-after {
  background-color: $color-red;
  border-radius: 20px 20px 0px 0px;
}
.border-after {
  border-bottom: solid 5px $color-red;
  border-left: solid 5px $color-red;
  border-right: solid 5px $color-red;
  padding: 0 60px;
  margin-bottom: 100px;
}
.rpa-after-img-ku {
  width: 60px;
  height: 325px;
  // background-color: red;
}
.rpa-after-img-tantousyaRPA {
  width: 227px;
  height: 325px;
  padding-top: 20px;
  // background-color: red;　
  img {
    width: 227px;
    height: 207px;
  }
  p {
    padding-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    color: $color-black;
  }
}
.rpa-after-img-reportePC {
  width: 96px;
  height: 325px;
  padding-top: 50px;
  display: block;
  // background-color: orange;　//★
}

.rpa-after-img-report {
  width: 94px;
  height: 108px;
}
.rpa-after-img-PC {
  padding-top: 10px;
  width: 95px;
  height: 88px;
}
// ーーーーーーーーここまで 4.業務の自動化(RPA)したときの効果(after)ーーーーーーーーー
// ーーーーーーーーここから導入効果ーーーーーーーーー
.title-effect-ue {
  color: $color-red;
  text-align: center;
  margin-bottom: 5px;
}
.title-effect {
  background-color: $color-red;
  font-size: 2.2rem;

}
.rpa-effect {
  width: 1025px;
  height: 610px;
  background-color: $color-pink;
  margin-bottom: 50px;
  h1 {
    font-size: 2.4rem;
    text-align: center;
    color: $color-black;
    margin-top: 40px;
  }
  h2 {
    font-size: 2.1rem;
    text-align: center;
    color: $color-black;
    span {
      font-weight: normal;
    }
  }
}
.rpa-effect-ichi {
    padding-top: 45px;
}
.rpa-effect-imgs {
  width: 921px;
  height:184px;
  margin:40px 51px;
  // background-color: pink;
  display: flex;
}
.rpa-effect-imgs-robot {
  img {
  width: 137.5px;
  height: 110px;
  margin:0 32px;
  }
  p {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    color: $color-black;
  }
}
.rpa-effect-imgs-plus {
  img {
    width: 36px;
    height: 36px;
    margin:100px 36.5px 0px 36px;
  }
}

.rpa-effect-imgs-brain {
  img {
    width: 82px;
    height: 103px;
    margin: 0px 60px;
  }
  p {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    color: $color-black;
  }
}
.rpa-effect-imgs-product {
  img {
    width: 109px;
    height: 98px;
    margin: 0px 46px;
  }
  p {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    color: $color-black;
  }
}
.rpa-effect-imgs-sales {
  img {
    width: 109px;
    height: 98px;
    margin: 0px 46px;
  }
  p {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    color: $color-black;
  }
}
// ーーーーーーーーここまで導入効果ーーーーーーーーー
// ーーーーーーーーここから5.当社の業務自動化サポートの特徴ーーーーーーーーー
.rpa-analog-digital {
  display: flex;
  margin: 0 auto;

}
.rpa-analog {
  width: 457px;
  height: 697px;
  // background-color: blue;
  text-align: center;
  margin-left: -55px;
  p {
    margin-bottom: 30px;
    color: $color-black;
    text-align: center;
    font-weight: bold;
  }
  h2{
    font-size: 2.1rem;
    text-align: center;
    color: $color-black;
  }
}
.img-top {
  width: 173px;
  height: auto;
  padding-bottom: 10px;
}
.rpa-analog-contents {
  width: 297px;
  height: 445px;
  padding: 30px 0;
  margin: 0 80px;
  border-radius: 10px;
  border: dashed 5px $color-orange;
}
.pad-40 {
  padding: 40px 0;
}
.pad-20 {
  padding: 20px 0;
}
.img-analog {
  width: 210px;
  height: auto;
}
.img-digital {
  width: 121px;
  height: auto;
}

.rpa-digital {
  width: 686px;
  height: 697px;
  text-align: center;
  // background-color: orange;
  p {
    margin-bottom: 30px;
    color: $color-black;
    text-align: center;
    font-weight: bold;
  }
  h2{
    font-size: 2.1rem;
    text-align: center;
    color: $color-black;
  }
}
.rpa-digital-contents {
  width: 583px;
  height: 445px;
  padding: 30px 0;
  margin: 0 51px;
  border-radius: 10px;
  border: solid 5px $color-red;
}
.img-csv {
  width: 86px;
  height: auto;
}
.img-system {
  width: 158px;
  // background-color: red;
}
.img-systems {
  display: flex;
  clear: left;
}
.img-text {
  padding-top: 40px;
  width: 50%;
}
.green-arrow-down1 {
  margin-left: 150px;
  width: 25px;
  height: 25px;
  border-top: solid 10px $color-green;
  border-right: solid 10px $color-green;
  -webkit-transform: rotate(160deg);
  transform: rotate(160deg);
  float: left;
}
.green-arrow-down2 {
  margin-left: 200px;
  width: 25px;
  height: 25px;
  float: left;
  border-top: solid 10px $color-green;
  border-right: solid 10px $color-green;
  -webkit-transform: rotate(115deg);
  transform: rotate(115deg);
}
.green-arrow-down3 {
  margin: 0px auto;
  width: 35px;
  height: 35px;
  border-top: solid 15px $color-green;
  border-right: solid 15px $color-green;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.OCR {
  width: 330px;
  text-align: left;
  font-size: 1.2rem;
  color: $color-black;
}

.green-arrow-right1{
  width: 25px;
  height: 25px;
  border-top: solid 10px $color-green;
  border-right: solid 10px $color-green;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rpa-result {
  width: 1025px;
  height: 243px;
  background-color: $color-usui-green;
  border-radius: 8px;
  color: $color-black;
  font-weight: bold;
  display: flex;
  padding: 10px 0;
}
.rpa-result-imgs-document {
  // background-color: red;
  width: 151px;
  height: auto;
  text-align: center;
  padding-top: 50px;
    img {
    height: 85px;
    width: auto;
  }
}
.rpa-result-imgs-arrow {
  // background-color: yellow;
  width: 65px;
  height: auto;
  text-align: center;
  padding-top: 80px;
  img {
    width: 56px;
    height: auto;
  }
}
.orangebtn {
    clear: left;
    width: 378px;
    height: 71px;
    display: block;
    line-height: 71px;
    background-color: $color-orange;
    color: $color-white;
    font-weight: bold;
    margin: 20px auto;
}
.action {
  h1 {
    margin: 60px 0;
    color: $color-red;
    text-align: center;
  }
}
